html {
    width: 100%;
    height: 100%;
    
    font-family: Tahoma;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.k-content{
    width: 606px;
height: 437px;
}



.dsfsdf{
     background-image: linear-gradient(bottom, rgb(250,18,227) 6%, rgb(142,209,245) 53%);
background-image: -o-linear-gradient(bottom, rgb(250,18,227) 6%, rgb(142,209,245) 53%);
background-image: -moz-linear-gradient(bottom, rgb(250,18,227) 6%, rgb(142,209,245) 53%);
background-image: -webkit-linear-gradient(bottom, rgb(250,18,227) 6%, rgb(142,209,245) 53%);
background-image: -ms-linear-gradient(bottom, rgb(250,18,227) 6%, rgb(142,209,245) 53%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.06, rgb(250,18,227)),
    color-stop(0.53, rgb(142,209,245))
);
}

.categoryclass{
    font-size: 14px;
    padding: 10px;
    margin-left: 6px;
width: 625px;
border-radius: 4px;
margin-top: 5px;
margin-bottom: 3px;
background-color: rgb(230, 230, 250);
}

.categoryclass2{
    font-size: 14px;
    padding: 10px;
    margin-left: 6px;
width: 624px;
border-radius: 4px;
margin-top: 3px;
background-color: rgb(230, 230, 250);
}

.string{

   cursor: pointer;
   width: 643px; 
   margin: 12px 4px;
   padding: 6px;
   height:30px;
}
.first:hover{
    color: rgb(255, 255, 255);
    
    background-color: rgb(231, 120, 23);
}

.second:hover{
    color: rgb(255, 255, 255);
    
    background-color: rgb(152, 196, 25);
}

.third:hover{
   color: rgb(255, 255, 255);
    
    background-color:  rgb(195, 25, 114); 
}
.fourth:hover{
   color: rgb(255, 255, 255);
    
    background-color:  rgb(0, 192, 240); 
}
.fifth:hover{
   color: rgb(255, 255, 255);
    
    background-color:  rgb(221, 59, 27) ; 
}
.sixth:hover{
   color: rgb(255, 255, 255);
    
    background-color:  rgb(95, 58, 116) ; 
}

#karta{
    padding:13px;
}
.demo-section-listview {
padding: 0px;
width:  577px;
}
 .demo-section {
            padding: 0px;
            width: 268px;
        }
        #pager2{
          margin-left: 49px;
          width: 561px;
        }
        #carousel {
         height: 94px;
margin-left: 49px;
padding: 10px;
margin-bottom: -1px;
width: 544px;
min-height: 130px;
        }
        .product {
            float: left;
            position: relative;
            width: 111px;
            height: 141px;
            margin: 0;
            padding: 0;
        }
        .product img {
            cursor: pointer;
            width: 110px;
            height: 110px;
        }
        .product h4 {

            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: 10px;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }
        .product p {
            visibility: hidden;
        }
        .product:hover p {
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }
        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
#contacty{
    font-size: 12px;
    position: absolute;
    margin-left: 298px;
    margin-top: 39px;
    
    width: 334px;
    height: 142px;
}
 .textred{
    color:rgb(255, 0, 71);
 }
#bg{
    background: url('/system/images/korob.png') no-repeat;
width: 515px;
height: 60px;
margin-top: 67px;
float: right;
margin-right: 15px;
}

body{
    width: 100%;
    height: 100%;
margin: 0;
    padding: 0;
    font-family: Tahoma;
  
}

#main{
    width: 932px;
    height: 516px;
    margin: 0 auto;
}

#page{
    width:960px;
    margin: 0 auto;
}
#logotip{

    position: absolute;
margin-left: 121px;
top: 19px;
}
#sh{
    font-size: 33px;
color: rgb(144, 30, 120);
font-family: serif;
}
#mn{
    font-family: cursive;
color: rgb(40, 22, 111);
font-size: 13px;
}
#tel{
    font-size: 24px;
color: rgb(144, 30, 120);
font-family: serif;
}
#header{
    width:960px;
    height: 162px;
    background: url('/system/images/header.png') no-repeat;
}

#services{
    width: 67px;
height: 27px;
margin-left: 99px;
margin-top: 1px;
}

#left-panel {

    background: url('/system/images/left-panel.png') repeat-y;
   
    width: 269px;
    float: left;
    
     color:white;

}

#price{

    cursor: pointer;
    color:white;
    text-align: center;
    float:left;
    height:50px;
    width:221px;
    background: url('/system/images/button-yellow.png') no-repeat;
}
#contacts{
    cursor: pointer;
    color:white;
    text-align: center;
    float: left;
    height:50px;
    width:221px;
    background: url('/system/images/button-fiolet.png') no-repeat;
}

#portfolio{
    cursor: pointer;
    color:white;
    text-align: center;
    float: left;
    height:50px;
    width:221px;
    background: url('/system/images/button-green.png') no-repeat;
}
#blue{
    z-index: -100;
margin-left: 14px;
top: 368px;
position: absolute;
width: 269px;
height: 363px;
background-color: rgb(59, 179, 194);
}
#treeview{
    font-size: 16px;
    color:white;
    margin-top: 24px;
}

#content{
   position: relative;

float: right;
width: 655px;
}

#tabstrip{
    margin-right: 4px;
    margin-top: 4px;
    height: 58px;
    width: 653px;
    float: right;
    background-color: black;
}

#footer{
    background: url("/system/images/footer.jpg");
    background-color: lightslategrey;
    clear: both;
    height: 50px;
    width:960px;
}