<!DOCTYPE html>
<html>
<head>
  <title>Sheavenanapa</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
    hs.graphicsDir = 'system/graphics/';
    hs.wrapperClassName = 'wide-border';
</script>

<div id="page">
  <div id="blue"></div>

<div id="header">


<div id="bg">  
    <marquee width="497" height="30" 
       direction="left" scrollamount="7" style="text-align: center; font-size: 25px; margin-top: 15px; margin-left: 10px; color: red">
       Бегущая строка
    </marquee>  
     

   </div> 
</div>
 <div id="main">
    <div id="left-panel">
        <div id="services"> Услуги </div>
    	
<div id="treeview" class="demo-section">
    
</div>
    </div>
    <div id="menu"> 

        <div id="price"> Цены</div>

        <div id="portfolio">Портфолио</div>

        <div id="contacts">Контакты</div>
    </div>
    
    <div id="content">
        <%= yield %>
    </div>
 </div>
  <div id="footer"></div>
  <div id="window"></div>



</div>

            <script>
                sCategory = new kendo.data.HierarchicalDataSource({

                        transport: {
                            read: {
                                url: "/categories.json",
                                dataType: "json"
                                  },
                            create: {
                              url: "/categories.json",
                              type: "POST"

                                    }
                                
                        },
                        schema: {
                            model: {
                                id: "id",
                                hasChildren: "haschild"
                                    }
                                }

                         });

                


           var treeview = $("#treeview").kendoTreeView({
                   
                    select: onSelect,
                    dataSource: sCategory,
                    dataTextField: "title",
                    
                   
                });
            </script>

</body>
</html>
